<!doctype html>
<!-- https://github.com/paulirish/html5-boilerplate/blob/master/index.html -->
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
    {% block starthead %}{% endblock starthead %}
    <meta charset="{{ resource.meta.charset }}">
    <meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}">

    <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
    <meta name="description" content="{{ resource.meta.description }}">
    <meta name="author" content="{{ resource.meta.author }}">

    <!--  Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="{{ resource.meta.viewport }}">

    {% block favicons %}
        <!-- Place favicon.ico & apple-touch-icon.png
in the root of your domain and delete these references -->
        <link rel="shortcut icon" href="{{ media_url('/favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ media_url('/apple-touch-icon.png') }}">
    {% endblock favicons %}

    {% block css %}
        <link rel="stylesheet" href="{{ media_url('css/reset.css') }}">
        <link rel="stylesheet" href="{{ media_url('css/960.css') }}">
        <link rel="stylesheet" href="{{ media_url('css/style.css') }}">
    {% endblock css %}

    {% block headjs %}
        <script src="{{ media_url('js/libs/modernizr-1.7.min.js') }}"></script>
    {% endblock headjs %}
    {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
{% block content %}
    <div class="container_12">
        {% block container %}
            {% block header %}
                <div id="header" class="grid_12">
                    <strong id="blog-title">
                        <a href="/" title="Home" rel="home">
                            {{ resource.meta.title }}
                        </a>
                    </strong>
                </div>
            {% endblock header %}
            {% block nav %}
                <div class="grid_3" id="navigation">
                    <h2 class="first">Navigation</h2>
                    {% from "macros.j2" import render_nav with context %}
                    {{ render_nav(menu, 'main_nav') }}
                </div>
            {% endblock %}

            <div class="content grid_8">
                {% block main %}
                {% endblock main %}
            </div>

        {% endblock container %}
        {% block footer %}

            <div id="footer" class="grid_12 prefix_3">
                <p>Proudly presented by hyde - static blogging engine</p>
            </div>
        {%  endblock footer %}
    </div>
{% endblock content %}
{% block js %}
    <!-- Javascript at the bottom for fast page loading -->
    {% block jquery %}
        <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
    {% endblock jquery %}

    {% block scripts %}
    {% endblock scripts %}

    {% block analytics %}
        {% include "analytics.j2" %}
    {% endblock analytics %}

{% endblock js %}
</body>
</html>